* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  text-align: center;
  padding: 25px;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #e5e5dd;
  border: 1px solid #402525;
  border-radius: 0.75rem;
  padding: 3rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.container h2 {
  margin: 1rem;
}

.stats-container, .tasks-container {
  width: 45%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #181717;
}
